<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center max-width container">
      <div class="text-center">
        <h4><%= title %></h4>
      </div>
      <div>
        <div class="search">
          <h5 class="sub-title">지역별 검색</h5>
          <div class="dropdown">
            <div class="select">
              <span><%= selectGuObj.name%></span>
            </div>
            <ul class="dropdown-menu">
              <% for(let i=0; i<gu.length; i++){ %>
                <li value="<%= gu[i].name%>" <% if(gu[i].name == selectGuObj.name){%> active <%}%> onclick="changeGu('<%= gu[i].name%>')"><%= gu[i].name%></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="search">
          <h5 class="sub-title">상세 검색</h5>
          <div class="dropdown">
            <div class="select">
              <span id="daumAddr" onclick="init()"><% if(findLatlng){ %> <%= address %> <%}else{%>상세 주소를 검색해주세요.<%}%></span>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div id="map" class="container"></div>
      <div class="max-width info" >
        <input id="latlng" value="<%= list[0].LATITUDE %>,<%= list[0].LONGITUDE%>" hidden/>
        <h5>주소 : <span id="address"><%= list[0].RDNMADR %> <%= list[0].INSTLLCDESC%></span><button class="btn" onclick="findMap()">길 찾기</button></h5>
        <h5>이름 : <span id="title"><%= list[0].FCLTYNM %></span></h5>
        <h5>전화번호 : <span id="tel"><%= list[0].INSTITUTIONPHONENUMBER %></span></h5>
        <h5>주중이용가능시간 : <span id="week"><%= list[0].WEEKDAYOPEROPENHHMM %> ~ <%= list[0].WEEKDAYOPERCOLSEHHMM %></span></h5>
        <h5>토요일이용가능시간 : <span id="sat"><%= list[0].SATOPEROPEROPENHHMM %> ~ <%= list[0].SATOPERCLOSEHHMM %></span></h5>
        <h5>휴일이용가능시간 : <span id="holi"><%= list[0].HOLIDAYOPEROPENHHMM %> ~ <%= list[0].HOLIDAYCLOSEOPENHHMM %></span></h5>
      </div>
    </div>
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f04f63bc7ba3988d60d8cdd3f8221ebf&libraries=services"></script>

<script>
  let container = document.getElementById('map');
  let options = {
    center: new kakao.maps.LatLng("<%= list[0].LATITUDE %>","<%= list[0].LONGITUDE %>"),
    level: 5
  };

  let map = new kakao.maps.Map(container, options);

  let positions = [
    <% for(let i=0; i<list.length; i++){ %>
    {
      title: '<%= list[i].FCLTYNM %>',
      latlng: new kakao.maps.LatLng(<%= list[i].LATITUDE %>, <%= list[i].LONGITUDE %>),
      lat: '<%= list[i].LATITUDE %>',
      lng: '<%= list[i].LONGITUDE %>',
      address : '<%= list[i].RDNMADR %> <%= list[i].INSTLLCDESC%>',
      tel : '<%= list[i].INSTITUTIONPHONENUMBER %>',
      week : '<%= list[i].WEEKDAYOPEROPENHHMM %> ~ <%= list[i].WEEKDAYOPERCOLSEHHMM %>',
      sat : '<%= list[i].SATOPEROPEROPENHHMM %> ~ <%= list[i].SATOPERCLOSEHHMM %>',
      holi : '<%= list[i].HOLIDAYOPEROPENHHMM %> ~ <%= list[i].HOLIDAYCLOSEOPENHHMM %>'
    }<% if(i<list.length-1){%>,<%}%>
    <% } %>
  ];

  let imageSrc = "/image/point.png";

  for (let i = 0; i < positions.length; i ++) {
    let imageSize = new kakao.maps.Size(28, 28);
    let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
    let marker = new kakao.maps.Marker({
      map: map,
      position: positions[i].latlng,
      title : positions[i].title,
      image : markerImage,
      clickable:true
    });

    kakao.maps.event.addListener(marker, 'click', function() {
      document.getElementById("latlng").value = positions[i].lat + "," +positions[i].lng,
      document.getElementById("address").innerText = positions[i].address;
      document.getElementById("title").innerText = positions[i].title;
      document.getElementById("tel").innerText = positions[i].tel;
      document.getElementById("sat").innerText = positions[i].sat;
      document.getElementById("holi").innerText = positions[i].holi;
      document.getElementById("week").innerText = positions[i].week;
    });
  }

  function changeGu(gu){
    location.href = `?gu=${gu}`;
  }

  function findMap(){
    const name = document.getElementById("title").innerText
    const latlng = document.getElementById("latlng").value;
    window.open(`https://map.kakao.com/link/to/${name},${latlng}`);
  }

  let geocoder = new kakao.maps.services.Geocoder();

  function init(){
    new daum.Postcode({
      oncomplete: function(data) {
        geocoder.addressSearch(data.address, function(result, status) {
          if (status === kakao.maps.services.Status.OK) {
            location.href = `?lat=${result[0].y}&lng=${lng=result[0].x}&address=${data.address}`;
          }
        });

      }
    }).open();
  }

  $('.dropdown').click(function () {
    $(this).attr('tabindex', 1).focus();
    $(this).toggleClass('active');
    $(this).find('.dropdown-menu').slideToggle(300);
  });
  $('.dropdown').focusout(function () {
    $(this).removeClass('active');
    $(this).find('.dropdown-menu').slideUp(300);
  });
  $('.dropdown .dropdown-menu li').click(function () {
    $(this).parents('.dropdown').find('span').text($(this).text());
    $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
  });
  $('.dropdown-menu li').click(function () {
    var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
            msg = '<span class="msg">Hidden input value: ';
    $('.msg').html(msg + input + '</span>');
  });

</script>
