<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <style>
      body{
        padding: 10px
      }
      body > div > h4{
        text-align: center;
      }
      #map{
        width: 100%;
        height: 350px;
      }
    </style>
  </head>
  <body>
    <div>
      <h4><%= title %></h4>
    </div>
    <div style="margin:10px; display: inline">
      <h5 style="display: inline; width: 50%">전체보기</h5>
      <select style="width: 50%" onchange="changeGu(this.value)">
        <% for(let i=0; i<gu.length; i++){ %>
          <option value="<%= gu[i].name%>" <% if(gu[i].name == selectGuObj.name){%> selected <% } %>><%= gu[i].name%></option>
        <% } %>
      </select>
    </div>
    <div style="margin:10px">
      <h5 style="display: inline; width: 50%">주소로 검색하기</h5>
      <input style="width: 50%" id="daumAddr" value="주소를 입력해주세요." onclick="init()"/>
    </div>


    <div id="map"></div>
    <div style="background-color: antiquewhite; border-radius: 5px; padding: 1px">
      <h5>주소 : <span id="address"></span></h5>
      <h5>이름 : <span id="title"></span></h5>
      <h5>전화번호 : <span id="tel"></span></h5>
      <h5>주중이용가능시간 : <span id="week"></span></h5>
      <h5>토요일이용가능시간 : <span id="sat"></span></h5>
      <h5>휴일이용가능시간 : <span id="holi"></span></h5>
    </div>
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f04f63bc7ba3988d60d8cdd3f8221ebf"></script>
<script>
  let container = document.getElementById('map');
  let options = {
    center: new kakao.maps.LatLng("<%= list[0].LATITUDE %>","<%= list[0].LONGITUDE %>"),
    level: 5
  };

  let map = new kakao.maps.Map(container, options);

  let positions = [
    <% for(let i=0; i<list.length; i++){ %>
    {
      title: '<%= list[i].FCLTYNM %>',
      latlng: new kakao.maps.LatLng(<%= list[i].LATITUDE %>, <%= list[i].LONGITUDE %>),
      address : '<%= list[i].RDNMADR %> <%= list[i].INSTLLCDESC%>',
      tel : '<%= list[i].INSTITUTIONPHONENUMBER %>',
      week : '<%= list[i].WEEKDAYOPEROPENHHMM %> ~ <%= list[i].WEEKDAYOPERCOLSEHHMM %>',
      sat : '<%= list[i].SATOPEROPEROPENHHMM %> ~ <%= list[i].SATOPERCLOSEHHMM %>',
      holi : '<%= list[i].HOLIDAYOPEROPENHHMM %> ~ <%= list[i].HOLIDAYCLOSEOPENHHMM %>'
    }<% if(i<list.length-1){%>,<%}%>
    <% } %>
  ];

  var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

  for (let i = 0; i < positions.length; i ++) {
    let imageSize = new kakao.maps.Size(24, 35);
    let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
    let marker = new kakao.maps.Marker({
      map: map,
      position: positions[i].latlng,
      title : positions[i].title,
      image : markerImage,
      clickable:true
    });

    kakao.maps.event.addListener(marker, 'click', function() {
      document.getElementById("title").innerText = positions[i].title;
      document.getElementById("address").innerText = positions[i].address;
      document.getElementById("tel").innerText = positions[i].tel;
      document.getElementById("sat").innerText = positions[i].sat;
      document.getElementById("holi").innerText = positions[i].holi;
      document.getElementById("week").innerText = positions[i].week;
    });
  }

  function changeGu(gu){
    location.href = `/?gu=${gu}`;
  }

  // $.ajax({
  //   url: "https://dapi.kakao.com/v2/local/search/address.json",
  //   data: { query: "남부순환로224길 33" },
  //   method: "GET",
  //   dataType: "json",
  //   headers:{
  //     Authorization : "KakaoAK 40dfcce37ff7184e87cf00202868f508"
  //   }
  // })
  // .done(function(data) {
  //   console.log(data);
  // })
  // .fail(function(xhr, status, errorThrown) {
  //
  // })

  function init(){
    new daum.Postcode({
      oncomplete: function(data) {
        cpo
      }
    }).open();
  }

</script>
